<h1>Select your categories here</h1>
<% form_tag %>

<%= select('person', 'preferences', FoodCats.catlist) %>
<%= select('person', 'preferences', FoodCats.categories) %>
<%= select('person', 'preferences', FoodCats.categories) %>
<%= submit %>

<% form_tag %>