<h1>Welcome to Lunchparty Hub</h1>
<p>There are currently <%= Person.count %> people in queue.</p>
<br/>
<p>If you would like to join, click <%= link_to 'here', controller: 'queue', action: 'add' %>.</p>