<div class="container">
  <div class="page-header">
    <h1>Remove user from queue</h1>
  </div>
  <%= form_tag({:controller => :queue, :action => :destroy}, {:name => 'idForm', :onsubmit => 'return validateId()', role: 'form'}) do %>
      <div class="form-group">
        <label for="person_name">Hipchat @username</label>
        <%= text_field(:person, :name, size: 20) %>
      </div>
      <%= submit_tag('Remove', class: 'btn btn-danger') %>
  <% end %>
</div>


<script>
    function validateId() {
        var x = document.forms["idForm"]["person_name"].value;
        if (x == null || x == "") {
            alert("ID can't be blank");
            return false;
        }

        if (x.charAt(0) != '@'){
            alert("IDs start with @");
            return false;
        }
    }
</script>