// Place all the styles related to the Queue controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-image: url('logo1.jpg');
}

select {
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.pageTitle {
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

div.selectContainer {
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}



input[type="submit"]{
	display: none;
}
